.center {
	text-align: center;
	margin: auto;
	margin-bottom: 10px;
}

.ad {
	margin: 30px auto;
}

#rh-subnav {
	display: none;
}

/*--------------------------------*/

#intro-bg {
	width: 100%;
	height: 715px;
	background-size: cover;
	background-image: url(../img/inauguration-header.jpg);
	background-position: center;
}

#intro {
	width: 100%;
	padding: 1px;
	text-align: center;
	position: relative;
	top: 60%;
	text-shadow: black 1px 0 10px;

}

h1 {
	width: 100%;
	font: bold 60px 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	color: white;
}

h2 {
	font: normal 17px 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1px;
	display: none;
}

h2:before, #intro h2:after {
	content: '';
	width: 100px;
	height: 3px;
	display: inline-block;
	background-color: white;
	vertical-align: 0.3em;
	margin: auto 15px;
}

#intro p {
	width: 75%;
	font: normal 18px 'PT Serif', serif;
	line-height: 30px;
	color: white;
	margin: auto;
}

#intro p.byline {
	font: bold 20px "Open Sans Condensed", sans-serif;
	text-transform: uppercase;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.social {
	margin-left: 15px;
	margin-bottom: 25px;
}

.speech {
	margin: 30px auto;
	max-width: 750px;
}

.speech p {
	color: black;
	margin-bottom: 1em;
	font: normal 18px 'PT Serif', serif;
	line-height: 28px;
}

mark {
	background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
	font-style: normal;
}

.note {
	width: 85%;
	border: 1px solid gold;
	background: #fff7cc;
	padding: 20px;
	margin: 15px auto;
	text-align: center;
	overflow: hidden;
	filter: drop-shadow(0 0 3px #bfbfbf);
}

.note p {
	width: 100%;
	font: normal 14px 'Open Sans', sans-serif;
	line-height: 22px;
	text-align: left;
	margin-bottom: 1em;
}

.speech .note p:last-child {
	margin-bottom: 0;
}

.note img {
	max-height: 250px;
	float: left;
	margin-right: 12px;
	border: solid 1px #999;
}

.note img.right {
	float: right;
	margin-left: 15px;
	margin-right: 0;
	border: solid 1px #999;
}

.note img.emoji {
	width: 25%;
	border: none;
}

p.caption {
	font: 15px "Open Sans", sans-serif;
	color: #999;
	margin: 10px auto 100px auto;
	text-align: center;
}



/*--------- HANDHELD ---------*/

@media only screen and (min-width: 250px) and (max-width: 727px) {
	#intro-bg {
		background-image: url(../img/inauguration-header-mobile.jpg);
		height: 215px;
	}

	#intro {
		top: 100%;
		text-shadow: none;
	}

	h1 {
		font: bold 30px 'Open Sans Condensed', sans-serif;
		line-height: 40px;
		color: black;
		text-shadow: none;
		margin-top: 0;
	}

	h2 {
		font: normal 15px 'Open Sans', sans-serif;
		color: black;
		margin: 15px auto;
		display: block;
	}

	h2:before, #intro h2:after {
		width: 50px;
		height: 1px;
		background-color: black;
		margin: auto 10px;
	}

	#intro p {
		font-size: 16px;
		width: 95%;
		color: black;
		margin: 15px auto;
	}

	.speech p {
		width: 90%;
		font-size: 16px;
		line-height: 26px;
		margin: auto;
		margin-bottom: 1em;
	}

	.speech .note p {
		font-size: 14px;
		line-height: 24px;
		width: 100%;
		margin-bottom: 1em;
	}

	.note {
		width: 90%;
	}

	.note img {
		float: none;
		margin-right: 0;
		margin-bottom: 7px;
	}

	.note img.right {
		float: none;
		margin-left: 0;
	}

	.emoji {
		width: 75%;
		margin-top: -15px;
		margin-bottom: 0;
	}

	#intro-bg + div.ad {
		margin-top: 400px;
		margin-bottom: 0;
	}

	img {
		width: 100%;
		height: auto;
	}

	iframe {
		width: 100%;
		height: auto;
	}

	div.vdb_player {
		display: none;
	}

	#twitter-widget-3 {
		display: none;
	}
}

/*--------- TABLET ---------*/

@media only screen and (min-width: 728px) and (max-width: 1100px) {
	h1 {
		font-size: 40px;
	}

	#intro {
		top: 63%;
	}

	#intro p {
		font-size: 15px;
		line-height: 25px;
	}

	.speech {
		max-width: 85%;
	}

	iframe {
		max-width: 100%;
	}

}

/* SHARE ICON CSS */
a {
	text-decoration: none;
	color: #2569D3;
}

#ra-share-top {
	width: 100%;
	margin-bottom: 20px;
}
.ra-share, .rt-share {
	position: relative;
}
#ra-share-top li {
	display: inline-block;
}
.ra-share li, .ra-share dd, .rt-share li, .rt-share dd {
	color: white;
	margin-right: 20px;
}
.ra-share-e a, .rt-share-e a,
.ra-share-f a, .rt-share-f a,
.ra-share-t a, .rt-share-t a {
	position: relative;
	z-index: 1;
	box-sizing: border-box;
}
.ra-share-f, .rt-share-f {
	background: #2A6FBF;
}
.ra-share-t, .rt-share-t {
	background: #40BEF1;
}
.ra-share-e, .rt-share-e {
	background: #989898;
}
.ra-share-f:after, .rt-share-f:after {
	content: "\e741";
}
.ra-share-t:after, .rt-share-t:after {
	content: "\e74b";
}
.ra-share-e:after, .rt-share-e:after {
	content: "\e75a";
}
.ra-share a, .rt-share a {
	display: block;
	font-size: 0;
	height: 100%;
	cursor: pointer;
}
.ra-share-f, .rt-share-f, .ra-share-t, .rt-share-t, .ra-share-e, .rt-share-e, .ra-share-p, .rt-share-p, .ra-share-i, .rt-share-i {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
}
.ra-share li:after, .ra-share dd:after, .rt-share li:after, .rt-share dd:after {
	font-size: 16px;
	color: white;
	cursor: pointer;
}
.ra-share-f:after, .rt-share-f:after, .ra-share-t:after, .rt-share-t:after, .ra-share-e:after, .rt-share-e:after, .ra-share-p:after, .rt-share-p:after, .ra-share-i:after, .rt-share-i:after {
	font: 16px "themify";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
}
