h1 {
	font-size: 50px;
	line-height: 55px;
	margin: 40px auto 20px auto;
}

h2 {
	font: bold, 26px, 'Open Sans Condensed', sans-serif;
	margin-top: 30px;
	margin-bottom: 10px;
}

p {
	font-family: 'PT Serif', serif;
	font-size: 17px;
	line-height: 27px;
}

ul {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 15px;
	line-height: 25px;
}

.center {
	text-align: center;
	margin: auto;
	margin-bottom: 10px;
}

.ad {
	margin: 10px auto;
}

body#nydailynews article {
	margin: auto;
	float: none;
}

#sidebar {
	float: right;
	width: 300px;
}

.description {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 19px;
	color: #89898A;
	max-width: 75%;
}

/*------------------------------------------------------------*/
#rh-subnav {
	display: none;
}

#intro-bg {
	width: 100%;
	height: 600px;
	background-size: cover;
	background-image: url(../img/annotate-header.jpg);
	background-position: center;
}

#intro {
	width: 100%;
	padding: 1px;
	text-align: center;
	position: relative;
	top: 71%;
	transform: translateY(-50%);
}

#intro h2 {
	font: normal 17px 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1px;
}

#intro h2:before, #intro h2:after {
	content: '';
	width: 100px;
	height: 3px;
	display: inline-block;
	background-color: white;
	vertical-align: 0.3em;
	margin: auto 15px;
}

#intro h1 {
	width: 100%;
	font: bold 60px 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	color: white;
	margin: 0;
}

#intro p {
	width: 75%;
	font: normal 17px 'PT Serif', serif;
	line-height: 27px;
	color: white;
	margin: 15px auto;
}

#intro p.byline {
    font: bold 20px "Open Sans Condensed", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.speech {
	margin: 50px auto 0px auto;
	max-width: 750px;
}

.highlight {
	background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}

.note {
	width: 85%;
	border: 1px solid gold;
    background: #fff7cc;
	padding: 15px;
	margin: 15px auto;
	text-align: center;
	overflow: hidden;
	filter: drop-shadow(0 0 3px #bfbfbf);
}

blockquote {
	width: 80%;
	margin: 30px auto;
	border-left: 2px solid #ef1c1b;
    padding-left: 20px;
    line-height: 23px;
    padding-top: 8px;
    padding-bottom: 8px;
}

blockquote p {
	font: normal 14px 'Open Sans', sans-serif;
	line-height: 21px;
}

.note p {
	font: normal 14px 'Open Sans', sans-serif;
	line-height: 21px;
	text-align: left;
	margin-bottom: 1em;
}

.note p:last-child {
	margin-bottom: 0em;
}

.note img.tweet {
	margin: 10px auto;
	width: 90%;
	float: none;
	max-width: 470px;
}

.note img {
	width: 30%;
	float: left;
	margin-right: 15px;
}


/*--------- HANDHELD ---------*/

@media only screen and (min-width: 250px) and (max-width: 727px) {
#intro-bg {
		background-image: url(../img/annotate-header-mobile.jpg);
		height: 235px;
	}

	#intro {
		top: 100%;
		margin-bottom: 30px;
		padding: 10px;
		transform: none;
	}

	#intro h2 {
		font: normal 17px 'Open Sans', sans-serif;
		color: black;
	}

	#intro h2:before, #intro h2:after {
	display: none;
	}

	#intro h1 {
	font: bold 30px 'Open Sans Condensed', sans-serif;
	line-height: 40px;
	color: black;
	}

	#intro p {
		width: 95%;
		font: 15px 'Open Sans', sans-serif;
		line-height: 20px;
		color: black;
	}
}

/* SHARE ICON CSS */
a {
	text-decoration: none;
	color: #2569D3;
}

#ra-share-top {
	width: 100%;
	margin-bottom: 20px;
}
.ra-share, .rt-share {
	position: relative;
}
#ra-share-top li {
	display: inline-block;
}
.ra-share li, .ra-share dd, .rt-share li, .rt-share dd {
	color: white;
	margin-right: 20px;
}
.ra-share-e a, .rt-share-e a,
.ra-share-f a, .rt-share-f a,
.ra-share-t a, .rt-share-t a {
	position: relative;
	z-index: 1;
	box-sizing: border-box;
}
.ra-share-f, .rt-share-f {
	background: #2A6FBF;
}
.ra-share-t, .rt-share-t {
	background: #40BEF1;
}
.ra-share-e, .rt-share-e {
	background: #989898;
}
.ra-share-f:after, .rt-share-f:after {
	content: "\e741";
}
.ra-share-t:after, .rt-share-t:after {
	content: "\e74b";
}
.ra-share-e:after, .rt-share-e:after {
	content: "\e75a";
}
.ra-share a, .rt-share a {
	display: block;
	font-size: 0;
	height: 100%;
	cursor: pointer;
}
.ra-share-f, .rt-share-f, .ra-share-t, .rt-share-t, .ra-share-e, .rt-share-e, .ra-share-p, .rt-share-p, .ra-share-i, .rt-share-i {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
}
.ra-share li:after, .ra-share dd:after, .rt-share li:after, .rt-share dd:after {
	font-size: 16px;
	color: white;
	cursor: pointer;
}
.ra-share-f:after, .rt-share-f:after, .ra-share-t:after, .rt-share-t:after, .ra-share-e:after, .rt-share-e:after, .ra-share-p:after, .rt-share-p:after, .ra-share-i:after, .rt-share-i:after {
	font: 16px "themify";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
}
